<div id="sequence">
  <span id="title">Mario Romera Web Skills</span>
  <svg:svg
    id="container"
    [attr.width]="svgWidth"
    attr.height="50"
    id="trail"
    [style.visibility]="hoveredNode ? '' : 'hidden'"
  >
    <svg:text
      id="endlabel"
      [attr.transform]="'translate(' + (hoveredAncestors.length * (b.w + b.s) + 20) + ',' + b.h / 1.5 + ')'"
      attr.text-anchor="middle"
    >
      {{ percentageText }}
    </svg:text>
    <svg:g
      *ngFor="let d of hoveredAncestors; index as nodeIndex"
      [attr.transform]="'translate(' + nodeIndex * (b.w + b.s) + ', 0)'"
    >
      <svg:polygon
        [attr.fill]="d.data.color || getColor(d, nodeIndex)"
        [attr.points]="breadcrumbPoints(d, nodeIndex)"
      ></svg:polygon>
      <svg:text
        id="breadCrumbText"
        [attr.x]="(b.w + b.t) / 2 - (d.depth === 1 ? 30 + d.data.name.length : 25)"
        [attr.y]="b.h / 2 + 5"
        attr.dy="0.35em"
        attr.text-anchor="middle"
      >
        {{ d.data.name }}
      </svg:text>
    </svg:g>
  </svg:svg>
</div>
<div *ngIf="hoveredNode" id="explanation">
  <span id="nodeName"> {{ hoveredNode.data.name }}</span
  ><br />
  <span id="percentage">{{ percentageText }} </span><br />
  <span id="percentageLegend">
    of usage in the<br />
    day by day</span
  >
</div>

<svg:svg
  #svg
  id="chart"
  [attr.width]="svgWidth"
  [attr.height]="svgHeight"
  (mouseleave)="handleMouseOut($event)"
  (wheel)="zoomTo($event, chartContainer)"
>
  <svg:g #chartContainer id="container" fill="transparent">
    <svg:path
      *ngFor="let node of nodes; index as i"
      [attr.display]="node.depth !== 0 ? 'null' : 'none'"
      [attr.d]="arc(node)"
      attr.file-rule="evenodd"
      [attr.fill]="node.data.color || getColor(node, i)"
      [attr.opacity]="getOpacity(node)"
      (mouseover)="handleMouseOver($event, node)"
    ></svg:path>
  </svg:g>
</svg:svg>
