body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 700px;
  margin-top: 10px;
}

* {
  font-family: Consolas;
}

@font-face {
  font-family: 'Consolas';
  src: url('assets/fonts/CONSOLA.TTF');
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#title {
  position: absolute;
  top: 70px;
  left: 210px;
}

#breadCrumbText,
#legend text {
  font-weight: 600;
  fill: #fff;
}

#endlabel text {
  fill: #000;
  background-color: pink;
}

#chart {
  position: relative;
}

#chart path {
  transition: opacity 0.1s ease-in-out;
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 290px;
  left: 240px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 1.5em;
}
#percentageLegend {
  font-size: 0.6em;
}
